.Person {
  width: 60%;
  height: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 20px auto;
  padding: 16px;
}

@media (min-width: 500px) {
  .Person {
    width: 400px;
  }
}
